body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.obj-label {
  color: green;
  font-size: 18px;
  margin-top: -1em;
  padding: 7px 10px;
  line-height: 1.0;
  border-radius: 6px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.205);
  cursor: pointer;
  user-select: none;
}

.obj-label-selected {
  color: white;
  font-size: 18px;
  margin-top: -1em;
  padding: 7px 10px;
  line-height: 1.0;
  border-radius: 6px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 128, 0, 0.205);
  cursor: pointer;
  z-index: 85 !important;
  user-select: none;
}



.slide-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative
}

.slide-container .slide-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-text-size-adjust: none;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  background-position: center
}

.slide-container .slide-page {
  transform: translate3d(0, 100%, 0);
  -webkit-transform: translate3d(0, 100%, 0)
}

.slide-container .slide-page.transition {
  transition: transform .7s cubic-bezier(.55, .085, 0, .99);
  -webkit-transition: transform .7s cubic-bezier(.55, .085, 0, .99)
}
